In [1]:
import pandas as pd
import numpy as np

In [26]:
df1=pd.read_csv('//Users//Dongjun//Library//CloudStorage//OneDrive-TheUniversityofTexasatDallas//동준//Data Science//Git//projects//Loan Data//Data//new-foia-7afy1991-fy1999-asof-221231.csv')
df2=pd.read_csv('//Users//Dongjun//Library//CloudStorage//OneDrive-TheUniversityofTexasatDallas//동준//Data Science//Git//projects//Loan Data//Data//new-foia-7afy2000-fy2009-asof-221231.csv')
df3=pd.read_csv('//Users//Dongjun//Library//CloudStorage//OneDrive-TheUniversityofTexasatDallas//동준//Data Science//Git//projects//Loan Data//Data//new-foia-7afy2010-fy2019-asof-221231.csv')
df4=pd.read_csv('//Users//Dongjun//Library//CloudStorage//OneDrive-TheUniversityofTexasatDallas//동준//Data Science//Git//projects//Loan Data//Data//new-foia-7afy2020-present-asof-221231.csv')

/var/folders/cs/qhjjbcjx35d9dcvb4358qwzw0000gn/T/ipykernel_12612/3945742932.py:1: DtypeWarning: Columns (13,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv('//Users//Dongjun//Library//CloudStorage//OneDrive-TheUniversityofTexasatDallas//동준//Data Science//Git//projects//Loan Data//Data//new-foia-7afy1991-fy1999-asof-221231.csv')
/var/folders/cs/qhjjbcjx35d9dcvb4358qwzw0000gn/T/ipykernel_12612/3945742932.py:2: DtypeWarning: Columns (13,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df2=pd.read_csv('//Users//Dongjun//Library//CloudStorage//OneDrive-TheUniversityofTexasatDallas//동준//Data Science//Git//projects//Loan Data//Data//new-foia-7afy2000-fy2009-asof-221231.csv')
/var/folders/cs/qhjjbcjx35d9dcvb4358qwzw0000gn/T/ipykernel_12612/3945742932.py:3: DtypeWarning: Columns (13,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df3=pd.read_csv('//Users//Dongjun//Library//CloudStorage//OneDrive-TheUniversityofTexasatDallas//동준//Data Science//Git//projects//Loan Data//Data//new-foia-7afy2010-fy2019-asof-221231.csv')
/var/folders/cs/qhjjbcjx35d9dcvb4358qwzw0000gn/T/ipykernel_12612/3945742932.py:4: DtypeWarning: Columns (34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df4=pd.read_csv('//Users//Dongjun//Library//CloudStorage//OneDrive-TheUniversityofTexasatDallas//동준//Data Science//Git//projects//Loan Data//Data//new-foia-7afy2020-present-asof-221231.csv')

In [19]:
len(df1.columns)

39

In [64]:
final=pd.concat([df1,df2])
final=pd.concat([final,df3])
final=pd.concat([final,df4])

In [28]:
len(final)

1727948

In [29]:
final.columns

Index(['AsOfDate', 'Program', 'BorrName', 'BorrStreet', 'BorrCity',
       'BorrState', 'BorrZip', 'BankName', 'BankFDICNumber', 'BankNCUANumber',
       'BankStreet', 'BankCity', 'BankState', 'BankZip', 'GrossApproval',
       'SBAGuaranteedApproval', 'ApprovalDate', 'ApprovalFiscalYear',
       'FirstDisbursementDate', 'DeliveryMethod', 'subpgmdesc',
       'InitialInterestRate', 'TermInMonths', 'NaicsCode', 'NaicsDescription',
       'FranchiseCode', 'FranchiseName', 'ProjectCounty', 'ProjectState',
       'SBADistrictOffice', 'CongressionalDistrict', 'BusinessType',
       'BusinessAge', 'LoanStatus', 'PaidInFullDate', 'ChargeOffDate',
       'GrossChargeOffAmount', 'RevolverStatus', 'JobsSupported'],
      dtype='object')

In [65]:
final.head()

,AsOfDate,Program,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,BankName,BankFDICNumber,BankNCUANumber,...,SBADistrictOffice,CongressionalDistrict,BusinessType,BusinessAge,LoanStatus,PaidInFullDate,ChargeOffDate,GrossChargeOffAmount,RevolverStatus,JobsSupported
0,20221231,7A,BODY SHOP,"BOX 503, S. HWY 71",WILLMAR,MN,56201,"U.S. Bank, National Association",6548.0,NaN,...,MINNESOTA DISTRICT OFFICE,7.0,INDIVIDUAL,NaN,PIF,7/31/05,NaN,0,0,0
1,20221231,7A,Michael Davis,P O BOX 1457,FOND DU LAC,WI,54936,"U.S. Bank, National Association",6548.0,NaN,...,MILWAUKEE,6.0,CORPORATION,NaN,PIF,7/31/05,NaN,0,0,0
2,20221231,7A,MICRO-PACE COMPUTERS INC.,"604 N. COUNTRY FAIR DRIVE, S",CHAMPAIGN,IL,61821,CIBM Bank,11729.0,NaN,...,SPRINGFIELD BRANCH OFFICE,13.0,CORPORATION,NaN,PIF,7/31/05,NaN,0,0,0
3,20221231,7A,ROBINS INSURANCE AGENCY INC.,30 BURTON HILLS BLVD.,NASHVILLE,TN,37215,Truist Bank,9846.0,NaN,...,TENNESSEE DISTRICT OFFICE,5.0,CORPORATION,NaN,PIF,7/31/05,NaN,0,0,0
4,20221231,7A,COPYTRON INC.,2588 VANCE DRIVE,MT AIRY,MD,21771,Manufacturers and Traders Trust Company,588.0,NaN,...,BALTIMORE DISTRICT OFFICE,7.0,CORPORATION,NaN,PIF,7/31/05,NaN,0,0,0

In [66]:
final['Case_ID']=np.arange(len(final))

In [80]:
borrower=final[['Case_ID','BorrName','BorrStreet','BorrCity','BorrState','BorrZip','BusinessType']]

In [81]:
borrower['Borr_ID']=borrower.groupby(['BorrName','BorrStreet','BorrCity','BorrState','BorrZip','BusinessType']).ngroup()

/var/folders/cs/qhjjbcjx35d9dcvb4358qwzw0000gn/T/ipykernel_12612/2282326049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  borrower['Borr_ID']=borrower.groupby(['BorrName','BorrStreet','BorrCity','BorrState','BorrZip','BusinessType']).ngroup()

In [84]:
len(borrower), len(borrower.Borr_ID.value_counts())

(1727948, 1611067)

In [85]:
borrower.to_csv('borrower.csv')

In [68]:
bank=final[['Case_ID','BankName','BankFDICNumber','BankNCUANumber','BankStreet','BankCity','BankState','BankZip']]

In [86]:
len(bank), len(bank.value_counts())

(1727948, 1984)

In [ ]:
bank['Borr_ID']=bank.groupby(['BankName','BankFDICNumber','BankNCUANumber','BankStreet','BankCity','BankState','BankZip']).ngroup()

In [71]:
other=final[['GrossApproval','SBAGuaranteedApproval', 'ApprovalDate', 'ApprovalFiscalYear',
       'FirstDisbursementDate', 'DeliveryMethod', 'subpgmdesc',
       'InitialInterestRate', 'TermInMonths', 'NaicsCode', 'NaicsDescription',
       'FranchiseCode', 'FranchiseName', 'ProjectCounty', 'ProjectState',
       'SBADistrictOffice', 'CongressionalDistrict','LoanStatus', 'PaidInFullDate', 'ChargeOffDate',
       'GrossChargeOffAmount', 'RevolverStatus', 'Case_ID']]

In [52]:
final['BusinessType'].value_counts()

CORPORATION    1319948
INDIVIDUAL      353048
PARTNERSHIP      54882
Name: BusinessType, dtype: int64

In [53]:
final[['BorrState','BorrZip']].value_counts()

BorrState  BorrZip
NY         10001      1707
CA         90015      1466
           93401      1288
FL         33166      1160
CA         90021      1112
                      ...
NC         18403         1
           18681         1
           19734         1
           20006         1
WY         95030         1
Length: 38958, dtype: int64

In [57]:
tmp_ny=final[(final['BorrState']=='NY')&(final['BorrZip']==10001)]

In [58]:
len(tmp_ny)

1707

In [60]:
tmp_ny.BorrName.value_counts()

BOMVYX CORP.                  5
Stamp Event Management LLC    3
SKINPROLOGICA LLC             3
Vignaioli Ltd.                3
Hudson Market 303 LLC         3
                             ..
DEVIX GROUP LLC               1
KCM THERAPY                   1
ANMI INC                      1
NU-TERRA LLC                  1
Unarthodox LLC                1
Name: BorrName, Length: 1533, dtype: int64